@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Spice&family=Merriweather:ital@1&family=Noto+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Anton', sans-serif;
    font-family: 'Bungee Spice', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(248, 250, 252) ;
}
img{
    background-color: transparent;
    } 

.container1:hover > .container2 {
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
    color: #fff;
  }