@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Spice&family=Merriweather:ital@1&family=Noto+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


*{
    font-family: 'Anton', sans-serif;
    font-family: 'Bungee Spice', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Sans', sans-serif;

}
.sidebar-container{
    @apply h-full w-[20rem] rounded p-4  border transition-all duration-500 
   border-0 border-r-2 fixed
}
.small-sidebar{
    @apply  h-full w-[5.8rem] rounded p-4  border transition-all duration-500 border-0 border-r-2  fixed 
}
.smallmode{
    @apply left-[5.8rem] transition-all duration-500
}
.largemode{
    @apply left-[20rem] transition-all duration-500
}

img{
    background-color: transparent;
    } 

.container1:hover > .container2 {
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
    color: #fff;
  }